body{
    margin-left: 15px;
    width: 98vw;
    font-family: 'Poppins';
}
.header{
    font-size: 36px;
    font-weight:bold;
    color: #192F60;
    margin: 1px 3px 15px 1px;
}

.page-block{
    height: 80vh;
    display: flex;
}
.left-section{
    width: 28%;
    box-shadow: 0 3px 6px 0  rgba(0, 0, 0, 0.16);
}
.left-section > *{
    padding: 2%;
    margin-left: 25px;
}
.select-menu{
    margin-left: 30px;
    padding: 1% 0 1% 0;
    width: 200px;
    border-radius: 5px;
}
.left-section > div:not(.left-title) {
    color: #8C96AB;
}
.left-title{
    font: normal normal normal 14px/21px Poppins;
    color: #192F60;
    text-align: left;
}
.page-title {
    margin-top: 5px;
    font: normal normal 600 18px/27px Poppins;
    color: #192F60;
} 

.right-section{
    height:80vh;
    width: 67%;
}
.block{
    width: 100%;
    padding: 1.5%;
    box-shadow: 0 3px 6px 0  rgba(0, 0, 0, 0.16);
}
.upper-part{
    display:flex;
}
.image-box{
    width: 200px;
    padding-left: 50px;
}
.display-image{
    border-radius: 30px;
    width: 90px;
    height: 90px;
}
.display-items{
    padding: 2px;
    width: 500px;
}
.item-title{
    font: normal normal 600 30px/46px Poppins;
    color: #192F60;
}
.item-location {
    text-align: left;
    font: normal normal medium 16px/30px Poppins;
    color: #192F60;
    opacity: 1;
}
.item-address{
    font: normal normal normal 16px/30px Poppins;
    color: #636F88;
}  

.lower-part{
    padding-bottom: 20px;
    color: #636F88;
}
.lower-part > *{
    padding: 7px 5px 7px 50px;
    color: #636F88;
}
.pagination{
    padding: 3% 0 0 0;
    justify-content: center;
    display: flex;
}
.pagination > a{
    color: grey;
    text-decoration: none;
    justify-content: center;
    border:1px solid grey;
    padding: 10px 15px;
    margin: 3px;
    border-radius: 35%;
}
.ruler{
    border: 1px solid lightgray;
}